@import url("assets/fonts/open-sans/fonts.css");
@import url("styles/fw-presets.css");
@import url("styles/fw-classes.css");
/*@import url("node_modules\bootstrap\dist\css\bootstrap.min.css");*/
@import url("styles/assets.css");


/*** VARIABLES */
:root {

    --py-sec: 48px;
    --py-sec-sm: 24px;
    --p-card: 16px;

    /* --ff-text: "Raleway"; */
    --ff-text: "Open Sans", serif;
    --ff-hd: var(--ff-text);

    --fs-text: 16px;
    --fs-text-sm: 14px;
    --fs-text-lg: 22px;
    --lh-text: 1.5;

    --fs-h1: 40px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --fw-text: var(--fw-regular);
    --fw-hd: var(--fw-bold);

    --clr-text: white;
    --clr-hd: black;
    --bg-page: #000;
    --clr-primary: #ef5350;
}

header {
    background-color: var(--clr-primary);
}
footer {
    background-color: #444;
}
header .logo {
    height: 80px;
}


.item-card {
    border-radius: 15px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #000;
    /* border: solid 1px var(--clr-primary); */
    cursor: pointer;
}
.item-card.card-landscape {
    flex-direction: row;
}
.item-card .img-wrapper {
    aspect-ratio: 4/3;
    overflow: hidden;
    padding: 16px;
}
.item-card.card-landscape .img-wrapper {
    aspect-ratio: 1;
}
.item-card .content-wrapper {
    flex-shrink: 1.25;
}
.item-card .title {
    display: inline;
    margin-right: 16px;
}
.item-card .description {
    font-size: 12px;
}
.types-wrapper  .type {
    border-radius: 50%;
    width: 48px;
    height: 44px;
}
.types-wrapper .type-icon {
    object-fit: contain;
    padding: 12px;
}


.item-modal {
    position: fixed;
    top:0; bottom:0; left:0; right:0;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}
.modal-inner {
    z-index: inherit;
    max-width: 480px;
}
.modal-close {
    top: 16px;
    right: 16px;
    z-index: inherit;
}
.modal-item {
    /* padding: 24px; */
    border-radius: 24px;
}
.modal-nav-wrapper {
    padding: 24px;
}

#loadMore {
    padding: 16px 12px;
    background-color: pink;
    border-radius: 24px;
    width: 280px;
    align-self: center;
}
#loadMore:hover {
    background-color: violet;
}

@media(max-width: 511px) {
    .modal-inner {
        max-width: 100%;
    }
}
