@import url("assets/fonts/open-sans/fonts.css");
@import url("styles/fw-presets.css");
@import url("styles/fw-classes.css");
/*@import url("node_modules\bootstrap\dist\css\bootstrap.min.css");*/
@import url("styles/assets.css");


/*** VARIABLES */
:root {

    --py-sec: 48px;
    --py-sec-sm: 24px;
    --p-card: 16px;

    /* --ff-text: "Raleway"; */
    --ff-text: "Open Sans", serif;
    --ff-hd: var(--ff-text);

    --fs-text: 16px;
    --fs-text-sm: 14px;
    --fs-text-lg: 22px;
    --lh-text: 1.5;

    --fs-h1: 40px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --fw-text: var(--fw-regular);
    --fw-hd: var(--fw-bold);

    --clr-text: white;
    --clr-hd: black;
    --bg-page: #333;
}

header {
    background-color: #444;;
}
footer {
    background-color: #444;;
}
header .logo {
    height: 80px;
}

.card-wrapper {
    border-radius: 9px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-wrapper.card-landscape {
    flex-direction: row;
}
.card-img-wrapper {
    aspect-ratio: 4/3;
    overflow: hidden;
}
.card-landscape .card-img-wrapper {
    aspect-ratio: 1;
    width: 110px;
}
.card-img-wrapper img {
}
.card-content-wrapper {
    background-color: #777;
    flex-grow: 1;
}